<!-- Order Section(Pedido)  -->
<section class="order" id="order">
  <h1 class="heading"> <span>Peça</span> agora </h1>
  <div class="row">
      <div class="image">
          <img src="../../assets/order-img.jpg" alt="">
      </div>
      <form action="">
          <div class="inputBox">
              <input type="text" placeholder="Nome">
              <input type="email" placeholder="E-mail">
          </div>
          <div class="inputBox">
              <input type="number" placeholder="Número">
              <input type="text" placeholder="Nome da comida">
          </div>
          <textarea placeholder="Endereço" name="" id="" cols="30" rows="10"></textarea>
          <input type="submit" value="Peça agora" class="btn">
      </form>
  </div>
  </section>
