<!-- Gallery Section(Galeria)  -->
<section class="gallery" id="gallery">
  <h1 class="heading">Nossa <span> galeria </span>de comida </h1>
  <div class="box-container">
      <div class="box">
          <img src="../../assets/g-1.jpg" alt="">
          <div class="content">
              <h3>Comida saborosa</h3>
              <p> Si num tem leite então bota uma pinga aí cumpadi! interdum diam laoreet</p>
              <a href="#" class="btn">Peça agora</a>
          </div>
      </div>
      <div class="box">
          <img src="../../assets/g-2.jpg" alt="">
          <div class="content">
              <h3>Comida saborosa</h3>
              <p>Atirei o pau no gatis, per gatis num morreus. Vehicula non. Ut interdum.</p>
              <a href="#" class="btn">Peça agora</a>
          </div>
      </div>
      <div class="box">
          <img src="../../assets/g-3.jpg" alt="">
          <div class="content">
              <h3>Comida saborosa</h3>
              <p>Casamentiss faiz malandris se elementis mé pra quem é amistosis quis leo.</p>
              <a href="#" class="btn">Peça agora</a>
          </div>
      </div>
      <div class="box">
          <img src="../../assets/g-4.jpg" alt="">
          <div class="content">
              <h3>Comida saborosa</h3>
              <p>Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!.</p>
              <a href="#" class="btn">Peça agora</a>
          </div>
      </div>
      <div class="box">
          <img src="../../assets/g-5.jpg" alt="">
          <div class="content">
              <h3>Comida saborosa</h3>
              <p>A ordem dos tratores não altera o pão duris. Todo mundo vê os porris que eu.</p>
              <a href="#" class="btn">Peça agora</a>
          </div>
      </div>
      <div class="box">
          <img src="../../assets/g-6.jpg" alt="">
          <div class="content">
              <h3>Comida saborosa</h3>
              <p>Suco de cevadiss, é um leite divinis, tem lupuliz, matis, aguis e fermentis.</p>
              <a href="#" class="btn">Peça agora</a>
          </div>
      </div>
      <div class="box">
          <img src="../../assets/g-7.jpg" alt="">
          <div class="content">
              <h3>Comida saborosa</h3>
              <p>Viva Forevis aptent taciti sociosqu ad litora torquent. Praesent malesuada.</p>
              <a href="#" class="btn">Peça agora</a>
          </div>
      </div>
      <div class="box">
          <img src="../../assets/g-8.jpg" alt="">
          <div class="content">
              <h3>Comida saborosa</h3>
              <p>Quem num gosta di mim que vai caçá sua turmis! Nec orci ornare consequat.</p>
              <a href="#" class="btn">Peça agora</a>
          </div>
      </div>
      <div class="box">
          <img src="../../assets/g-9.jpg" alt="">
          <div class="content">
              <h3>Comida saborosa</h3>
              <p>Interagi no mé, cursus quis, vehicula ac nisi. Cevadis im ampola pa arma.</p>
              <a href="#" class="btn">Peça agora</a>
          </div>
      </div>
  </div>

  </section>
