<!-- Principal -->

<!-- Header Section -->
<app-header></app-header>

<!-- Home Section -->
<app-home></app-home>

<!-- Speciality Section -->
<app-speciality></app-speciality>

<!-- Popular Section -->
<app-popular></app-popular>

<!-- Degraus steps Section -->
<app-degraus></app-degraus>

<!-- Gallery Section -->
<app-gallery></app-gallery>

<!-- Reviews Section -->
<app-reviews></app-reviews>

<!-- Orders Section -->
<app-orders></app-orders>

<!-- Footer Section -->
<app-footer></app-footer>


