<!-- Review Section(Reveja)  -->
<section class="review" id="review">
  <h1 class="heading">Comentários de nossos <span>clientes</span> </h1>
  <div class="box-container">
      <div class="box">
          <img src="../../assets/pic1.png" alt="">
          <h3>Priscila Andrade</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
          </div>
          <p>Paisis, filhis, espiritis santis. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Si u mundo tá muito paradis?</p>
      </div>
      <div class="box">
          <img src="../../assets/pic2.png" alt="">
          <h3>Daniel Oliveira</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
          </div>
          <p>paradis? Toma um mé que o mundo vai girarzis! Casamentiss faiz malandris se pirulitá o pão duris. Mé faiz elementum girarzis, nisi eros.</p>
      </div>
      <div class="box">
          <img src="../../assets/pic3.png" alt="">
          <h3>Kate Austen</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
          </div>
          <p>Viva Forevis aptent taciti sociosqu ad litora torquent. Diuretics paradis num copo é motivis de denguis. Mé faiz elementum Vehicula non.</p>
      </div>
  </div>
  </section>
