<!-- Degraus Section(Steps)  -->
<div class="step-container">
  <h1 class="heading">Como <span>funciona</span></h1>
  <section class="steps">
      <div class="box">
          <img src="../../assets/step-1.jpg" alt="">
          <h3>Escolha sua comida favorita</h3>
      </div>
      <div class="box">
          <img src="../../assets/step-2.jpg" alt="">
          <h3>Entrega grátis e rápida</h3>
      </div>
      <div class="box">
          <img src="../../assets/step-3.jpg" alt="">
          <h3>Métodos de pagamento fáceis</h3>
      </div>
      <div class="box">
          <img src="../../assets/step-4.jpg" alt="">
          <h3>E, finalmente, aproveite sua comida</h3>
      </div>
  </section>
  </div>
