<!-- Home Section(Seção da Página inicial) -->
<section class="home" id="home">
  <div class="content">
      <h3>Comida feita com amor</h3>
      <p>Leite de capivaris, leite de mula manquis sem cabeça. Manduma pindureta quium dia nois paga. In elementis mé pra quem é amistosis quis leo. Detraxit consequat et quo num tendi nada Manduma pindureta quium dia nois paga.</p>
      <a href="#" class="btn">Peça agora</a>
  </div>
  <div class="image">
      <img src="../../assets/home-img.png" alt="">
  </div>
</section>

